/*
  Jace P. Gold
  November 14th, 2017
  JavaScript Rock Paper Scissors
*/

// CSS Reset
@import 'reset.css';


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

img {
  height: auto;
  width: 100%;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

a {
  color: white;
  text-decoration: underline;
  &:visited {
    color: white;
  }
}

html {
  padding: 0;
}
body {
  background-color: rgb(90, 81, 81);
  color: white;
}

header {
  background-color: rgb(71, 30, 30);
  color: white;
  padding: 2em 0;
  h1, h2 {
    text-align: center;
  }
}

#userChoice {
  text-align: center;
}

#options {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row (default);
  height: 400px;
  justify-content: space-around;
  margin-top: 2em;

  h2 {
    font-weight: bolder;
    text-align: center;
  }

  img {
    cursor: pointer;
    margin-top: 2em;
    width: 250px;
    &:hover {
      box-shadow:
      1px 1px #53a7ea,
      2px 2px #53a7ea,
      3px 3px #53a7ea;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
  }
}

#results {
  background-color: #6b5555;
  display: flex;
  flex-direction: row (default);
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 2em;
  padding: 2em;
  width: 80%;
}

footer {
  background-color: white;
  bottom: 0;
  color: black;
  display: flex;
  flex-direction: row (default);
  justify-content: space-around;
  padding: 2em;
  position: absolute;
  width: 100%;
  h2 {
    align-items: center;
    display: flex;
    flex-direction: row (default);
    justify-content: space-around;
  }
}

#newGameBtn {
  align-items: center;
  background-color: lightblue;
  display: flex;
  flex-direction: row (default);
  font-size: 1.25em;
  justify-content: space-around;
  margin: 2em auto;
  outline: none;
  padding: 1.25em;
  &:hover {
    background-color: rgb(56, 56, 170);
    border: 0;
    color: white;
    cursor: pointer;
  }
  &:onclick {
    background-color: rgb(17, 17, 99);
  }
}

.winning {
  background-color: green;
}

.losing {
  background-color: red;
}