/*
  Jace P. Gold
  November 14th, 2017
  JavaScript Rock Paper Scissors
*/
@import url(reset.css);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.hidden {
  visibility: hidden; }

img {
  height: auto;
  width: 100%; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

a {
  color: white;
  text-decoration: underline; }
  a:visited {
    color: white; }

html {
  padding: 0; }

body {
  background-color: #5a5151;
  color: white; }

header {
  background-color: #471e1e;
  color: white;
  padding: 2em 0; }
  header h1, header h2 {
    text-align: center; }

#userChoice {
  text-align: center; }

#options {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row default;
  height: 400px;
  justify-content: space-around;
  margin-top: 2em; }
  #options h2 {
    font-weight: bolder;
    text-align: center; }
  #options img {
    cursor: pointer;
    margin-top: 2em;
    width: 250px; }
    #options img:hover {
      box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px); }

#results {
  background-color: #6b5555;
  display: flex;
  flex-direction: row default;
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 2em;
  padding: 2em;
  width: 80%; }

footer {
  background-color: white;
  bottom: 0;
  color: black;
  display: flex;
  flex-direction: row default;
  justify-content: space-around;
  padding: 2em;
  position: absolute;
  width: 100%; }
  footer h2 {
    align-items: center;
    display: flex;
    flex-direction: row default;
    justify-content: space-around; }

#newGameBtn {
  align-items: center;
  background-color: lightblue;
  display: flex;
  flex-direction: row default;
  font-size: 1.25em;
  justify-content: space-around;
  margin: 2em auto;
  outline: none;
  padding: 1.25em; }
  #newGameBtn:hover {
    background-color: #3838aa;
    border: 0;
    color: white;
    cursor: pointer; }
  #newGameBtn:onclick {
    background-color: #111163; }

.winning {
  background-color: green; }

.losing {
  background-color: red; }
